@use "./variables" as vars;

.achievments {
	&__list {
		display: flex;
		gap: 130px;
		justify-content: center;
		&__item {
			gap: 4px;
			display: flex;
			flex-direction: column;
			align-items: center;
			&__number {
				font-size: 40px;
				font-weight: 600;
				color: vars.$green-cl;
				line-height: 1.5em;
				letter-spacing: 0.05em;
			}
			&__text {
				line-height: 1.5em;
				letter-spacing: 0.001em;
				text-transform: capitalize;
				color: vars.$green-cl;
			}
		}
		@include vars.mobile {
			gap: 22px;
			&__item {
				gap: 4px;
				display: flex;
				flex-direction: column;
				align-items: center;
				&__number {
					font-size: 18px;
					font-weight: 600;
					color: vars.$green-cl;
					line-height: 1.5em;
					letter-spacing: 0.05em;
				}
				&__text {
					font-size: 12px;
					line-height: 1.3em;
					text-transform: capitalize;
					color: vars.$green-cl;
				}
			}
		}
	}
}
