h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  margin: 0;
  color: #000000;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

button {
  cursor: pointer;
}

section {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  margin: 0;
  color: #000000;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

button {
  cursor: pointer;
}

section {
  overflow-x: hidden;
}

.header {
  padding: 20px 0;
  border-bottom: 1px solid #000000;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo:hover {
  transition: transform 0.5s ease;
  transform: rotate(360deg);
}
.header__nav {
  display: flex;
  align-content: center;
  margin-left: 450px;
  margin-right: 42px;
}
.header__nav__list {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header__nav__list__link {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5em;
  transition: color 0.5s ease;
}
.header__nav__list__link:hover {
  color: #19ce67;
}
.header__nav__list__link::after {
  content: "^";
  display: block;
  width: 30%;
  height: 4px;
  color: #ffffff;
  position: absolute;
  bottom: 0px;
  transform: translateX(125%);
  transition: color 0.5s ease;
}
.header__nav__list__link:hover::after {
  color: #19ce67;
}
.header__button {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  border-radius: 8px;
  border: 2px solid #19ce67;
  background-color: #ffffff;
  padding: 16px 32px;
  gap: 10px;
  transition: color 0.5s ease;
  transition: background-color 0.5s ease;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0em;
}
.header__button svg {
  color: #19ce67;
  transition: color 0.5s ease;
}
.header__button:hover {
  background-color: #19ce67;
  color: #ffffff;
}
.header__button:hover svg {
  color: #ffffff;
}

.hero {
  padding: 50px 0;
}
.hero .container {
  display: flex;
  align-items: center;
}
.hero__container-l {
  margin-right: 85px;
}
.hero__container-l__title {
  flex-wrap: wrap;
  padding-left: 15px;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.5em;
}
.hero__container-l img {
  margin-top: 95px;
  border: 15px solid #000000;
  border-radius: 8px;
}
.hero__container-r__text {
  flex-wrap: wrap;
  padding-left: 15px;
  font-weight: 400;
  letter-spacing: 2;
  line-height: 1.5em;
}
.hero__container-r__button {
  display: flex;
  margin-top: 35px;
  margin-left: 15px;
  padding: 15px 32px;
  max-width: 240px;
  border: 0;
  border-radius: 8px;
  background-color: #19ce67;
  transition: background-color 0.5s ease;
  text-transform: capitalize;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1em;
  color: #ffffff;
}
.hero__container-r__button svg {
  color: #ffffff;
  margin-left: 10px;
}
.hero__container-r__button:hover {
  transition: background-color 0.5s ease;
  background-color: #ce1980;
}
.hero__container-r img {
  margin-top: 85px;
  border: 15px solid #000000;
  border-radius: 8px;
}

.achievments__list {
  display: flex;
  gap: 130px;
  justify-content: center;
}
.achievments__list__item {
  gap: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.achievments__list__item__number {
  font-size: 40px;
  font-weight: 600;
  color: #19ce67;
  line-height: 1.5em;
  letter-spacing: 0.05em;
}
.achievments__list__item__text {
  line-height: 1.5em;
  letter-spacing: 0.001em;
  text-transform: capitalize;
  color: #19ce67;
}

.service {
  margin-top: 170px;
}
.service__title {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}
.service__list {
  display: flex;
  justify-content: center;
  margin-top: 75px;
  gap: 30px;
  flex-wrap: wrap;
}
.service__list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 373px;
  padding: 44px 24px 22px 24px;
  border: 1px solid #e4e4e4;
  border-radius: 8px;
}
.service__list__item__img-container {
  border-radius: 5em;
  max-width: 98px;
  padding: 25px;
  background-color: #f4f3f2;
}
.service__list__item__title {
  margin-top: 30px;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.5em;
  text-transform: capitalize;
}
.service__list__item__text {
  display: flex;
  flex-wrap: wrap;
  max-width: 325px;
  margin-top: 20px;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  text-align: center;
}

.projects {
  padding-top: 140px;
}
.projects__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.5em;
}
.projects__slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 30px;
  margin-top: 70px;
}
.projects__slider__item {
  min-width: 475px;
  flex: 0 0 auto;
  padding: 32px 25px 0 25px;
  background-color: #19ce67;
  border-radius: 8px;
  scroll-snap-align: start;
  position: relative;
  overflow: hidden;
}
.projects__slider__item__title {
  flex-wrap: wrap;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5em;
  color: #ffffff;
}
.projects__slider__item__text {
  flex-wrap: wrap;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5em;
  color: #ffffff;
}
.projects__slider__item__img-container {
  position: relative;
  display: flex;
  gap: 8px;
  margin-top: 40px;
}
.projects__slider__item__img-container__img-one {
  position: absolute;
  top: 0;
}
.projects__slider__item__img-container__img-two {
  position: absolute;
  left: 237px;
  top: 22px;
}
.projects__slider__item__img-container__img-solo {
  padding-bottom: 28px;
}
.projects__slider::-webkit-scrollbar {
  display: none;
}

.projects::-webkit-scrollbar {
  display: none;
}

.aboutUs {
  background-color: #f4f3f2;
  margin-top: 140px;
  padding: 80px 0;
}
.aboutUs .container {
  display: flex;
  gap: 110px;
}
.aboutUs__txt-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 575px;
}
.aboutUs__txt-container__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.5em;
}
.aboutUs__txt-container__text {
  margin-top: 5px;
  line-height: 1.5em;
}
.aboutUs__txt-container__exp-line {
  display: flex;
  margin-top: 20px;
  background-color: #19ce67;
  border-radius: 8px;
  padding: 10px 24px;
  gap: 25px;
}
.aboutUs__txt-container__exp-line__text {
  margin-top: 0;
  color: #ffffff;
  line-height: 1.4em;
}
.aboutUs__txt-container__link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 14px 30px;
  margin-top: 40px;
  max-width: 225px;
  border: 2px solid #19ce67;
  border-radius: 8px;
  color: #19ce67;
  transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
}
.aboutUs__txt-container__link svg {
  color: #19ce67;
}
.aboutUs__txt-container__link:hover {
  background-color: #ce1980;
  color: #ffffff;
  border-color: #ce1980;
  transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}
.aboutUs__txt-container__link:hover svg {
  color: #ffffff;
}
.aboutUs__img-container img {
  border: 15px solid #000000;
  border-radius: 8px;
}

.splide {
  margin-top: 140px;
}
.splide__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.5em;
  text-transform: capitalize;
  margin-bottom: 66px;
}
.splide .container {
  max-width: -moz-max-content;
  max-width: max-content;
}
.splide__list {
  gap: 30px;
}
.splide__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 25px 35px 25px;
  border: 1px solid #e4e4e4;
  border-radius: 1px;
  text-align: center;
  max-width: 460px;
}
.splide__slide .svg-cont {
  display: flex;
}
.splide__slide .svg-cont svg {
  margin-left: -20px;
  margin-right: -20px;
}
.splide__slide .text {
  margin-top: 27px;
  color: #333333;
  line-height: 1.5em;
}
.splide__slide .author {
  display: flex;
  margin-top: 55px;
  gap: 10px;
}
.splide__slide .author ul > li {
  border: 0;
  padding: 0;
  max-width: 460px;
}
.splide__slide .author ul > li h3 {
  font-weight: 600;
  line-height: 1.5em;
}
.splide__slide .author ul > li p {
  margin: 0;
  font-size: 14px;
  line-height: 1.5em;
}
.splide__arrows {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 45px;
  gap: 30px;
  transition: transform 0.5s ease;
}
.splide__arrow {
  background: none;
  border: 0;
  opacity: 1;
  transition: opacity 0.5s ease;
}
.splide__arrow svg {
  color: #000000;
}
.splide__arrow:disabled {
  opacity: 0.3;
  transition: opacity 0.5s ease;
}
.splide__arrow--prev svg {
  transform: rotate(0deg);
}
.splide__arrow--next svg {
  transform: rotate(180deg);
}

.posts {
  padding: 80px 0 75px;
}
.posts__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5em;
  margin-bottom: 73px;
}
.posts__list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.posts__list__item__date {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
}
.posts__list__item__title {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}
.posts__list__item__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  color: #333333;
}

.contact .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0 50px;
  background-color: #19ce67;
}
.contact__title {
  font-size: 40px;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 1.5em;
  max-width: 720px;
  flex-wrap: wrap;
  text-align: center;
}
.contact__button {
  display: flex;
  align-content: center;
  margin-top: 36px;
  padding: 20px 40px;
  background-color: #ce1980;
  border: 0;
  border-radius: 8px;
  gap: 10px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
}

.fter .container {
  padding: 23px 0;
}
.fter__main {
  display: flex;
  align-items: center;
}
.fter__main__logo-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 312px;
  margin-right: 180px;
}
.fter__main__logo-block__text {
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 40px;
  font-family: "Poppins", sans-serif;
  color: #19ce67;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0em;
}
.fter__main__sup-list {
  margin-right: 100px;
}
.fter__main__sup-list__item__title {
  font-family: "Poppins", sans-serif;
  color: #19ce67;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0em;
  margin-bottom: 23px;
}
.fter__main__sup-list__item__link {
  display: inline-flex;
  font-family: "Poppins", sans-serif;
  color: #19ce67;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0em;
  margin-bottom: 16px;
  flex-wrap: nowrap;
}
.fter__main__soc-list {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-right: 100px;
}
.fter__main__soc-list__item__title {
  font-family: "Poppins", sans-serif;
  color: #19ce67;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0em;
  margin-bottom: 23px;
}
.fter__main__soc-list__item__link {
  display: inline-flex;
  font-family: "Poppins", sans-serif;
  color: #19ce67;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0em;
  margin-bottom: 16px;
  flex-wrap: nowrap;
}
.fter__main__cont-list__item__title {
  font-family: "Poppins", sans-serif;
  color: #19ce67;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0em;
  margin-bottom: 23px;
}
.fter__main__cont-list__item__link {
  display: inline-flex;
  font-family: "Poppins", sans-serif;
  color: #19ce67;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0em;
  margin-bottom: 16px;
  flex-wrap: nowrap;
}
.fter__lists {
  display: flex;
  align-items: baseline;
}
.fter__afterword {
  display: flex;
  gap: 34px;
  justify-content: center;
  margin-top: 20px;
}
.fter__afterword p {
  font-family: "Poppins", sans-serif;
  color: #19ce67;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}/*# sourceMappingURL=style.css.map */