@charset "UTF-8";
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  margin: 0;
  color: #000000;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1200px;
  }
}

button {
  cursor: pointer;
}

section {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  margin: 0;
  color: #000000;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1200px;
  }
}

button {
  cursor: pointer;
}

section {
  overflow-x: hidden;
}

.header {
  padding: 20px 0;
  border-bottom: 1px solid #000000;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo:hover {
  transition: transform 0.5s ease;
  transform: rotate(360deg);
}
.header__nav {
  display: flex;
  align-content: center;
  margin-left: 450px;
  margin-right: 42px;
}
.header__nav__list {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header__nav__list__link {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5em;
  transition: color 0.5s ease;
}
.header__nav__list__link:hover {
  color: #19ce67;
}
.header__nav__list__link::after {
  content: "^";
  display: block;
  width: 30%;
  height: 4px;
  color: #ffffff;
  position: absolute;
  bottom: 0px;
  transform: translateX(125%);
  transition: color 0.5s ease;
}
.header__nav__list__link:hover::after {
  color: #19ce67;
}
.header__button {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  border-radius: 8px;
  border: 2px solid #19ce67;
  background-color: #ffffff;
  padding: 16px 32px;
  gap: 10px;
  transition: color 0.5s ease;
  transition: background-color 0.5s ease;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0em;
}
.header__button svg {
  color: #19ce67;
  transition: color 0.5s ease;
}
.header__button:hover {
  background-color: #19ce67;
  color: #ffffff;
}
.header__button:hover svg {
  color: #ffffff;
}

.hero {
  padding: 50px 0;
}
.hero .container {
  display: flex;
}
@media screen and (min-width: 1440px) {
  .hero .container {
    align-items: center;
  }
}
.hero__container-l {
  display: none;
  margin-right: 85px;
}
.hero__container-l__title {
  flex-wrap: wrap;
  padding-left: 15px;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.5em;
}
.hero__container-l img {
  margin-top: 95px;
  border: 15px solid #000000;
  border-radius: 8px;
}
.hero__container-r {
  display: none;
}
.hero__container-r__text {
  flex-wrap: wrap;
  padding-left: 15px;
  font-weight: 400;
  line-height: 1.5em;
}
.hero__container-r__button {
  display: flex;
  margin-top: 35px;
  margin-left: 15px;
  padding: 15px 32px;
  max-width: 240px;
  border: 0;
  border-radius: 8px;
  background-color: #19ce67;
  transition: background-color 0.5s ease;
  text-transform: capitalize;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1em;
  color: #ffffff;
}
.hero__container-r__button svg {
  color: #ffffff;
  margin-left: 10px;
}
.hero__container-r__button:hover {
  transition: background-color 0.5s ease;
  background-color: #ce1980;
}
.hero__container-r img {
  margin-top: 85px;
  border: 15px solid #000000;
  border-radius: 8px;
}
.hero__container-mob__title {
  flex-wrap: wrap;
  padding-left: 15px;
  max-width: 333px;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.005em;
  line-height: 1.5em;
}
.hero__container-mob__text {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
  max-width: 282px;
  font-size: 14px;
  letter-spacing: 0.01em;
  font-weight: 400;
  line-height: 1.3em;
}
.hero__container-mob__button {
  display: flex;
  margin-top: 35px;
  margin-left: 15px;
  padding: 15px 32px;
  max-width: 240px;
  border: 0;
  border-radius: 8px;
  background-color: #19ce67;
  transition: background-color 0.5s ease;
  text-transform: capitalize;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1em;
  color: #ffffff;
}
.hero__container-mob__button:hover {
  transition: background-color 0.5s ease;
  background-color: #ce1980;
}
.hero__container-mob div {
  display: flex;
  align-items: baseline;
  gap: 50px;
}
@media screen and (min-width: 1440px) {
  .hero__container-l, .hero__container-r {
    display: block;
  }
  .hero__container-mob {
    display: none;
  }
}

.achievments__list {
  display: flex;
  gap: 130px;
  justify-content: center;
}
.achievments__list__item {
  gap: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.achievments__list__item__number {
  font-size: 40px;
  font-weight: 600;
  color: #19ce67;
  line-height: 1.5em;
  letter-spacing: 0.05em;
}
.achievments__list__item__text {
  line-height: 1.5em;
  letter-spacing: 0.001em;
  text-transform: capitalize;
  color: #19ce67;
}

.service {
  margin-top: 170px;
}
.service__title {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}
.service__list {
  display: flex;
  justify-content: center;
  margin-top: 75px;
  gap: 30px;
  flex-wrap: wrap;
}
.service__list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 373px;
  padding: 44px 24px 22px 24px;
  border: 1px solid #e4e4e4;
  border-radius: 8px;
}
.service__list__item__img-container {
  border-radius: 5em;
  max-width: 98px;
  padding: 25px;
  background-color: #f4f3f2;
}
.service__list__item__title {
  margin-top: 30px;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.5em;
  text-transform: capitalize;
}
.service__list__item__text {
  display: flex;
  flex-wrap: wrap;
  max-width: 325px;
  margin-top: 20px;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  text-align: center;
}

.projects {
  padding-top: 140px;
  padding-left: 10px;
}
.projects .container {
  max-width: -moz-max-content;
  max-width: max-content;
}
.projects__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.5em;
}
.projects__slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 30px;
  margin-top: 70px;
}
.projects__slider__item {
  min-width: 475px;
  flex: 0 0 auto;
  padding: 32px 25px 0 25px;
  background-color: #19ce67;
  border-radius: 8px;
  scroll-snap-align: start;
  position: relative;
  overflow: hidden;
}
.projects__slider__item__title {
  flex-wrap: wrap;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5em;
  color: #ffffff;
}
.projects__slider__item__text {
  flex-wrap: wrap;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5em;
  color: #ffffff;
}
.projects__slider__item__img-container {
  position: relative;
  display: flex;
  gap: 8px;
  margin-top: 40px;
}
.projects__slider__item__img-container__img-one {
  position: absolute;
  top: 0;
}
.projects__slider__item__img-container__img-two {
  position: absolute;
  left: 237px;
  top: 22px;
}
.projects__slider__item__img-container__img-solo {
  padding-bottom: 28px;
}
.projects__slider::-webkit-scrollbar {
  display: none;
}

.projects::-webkit-scrollbar {
  display: none;
}

.aboutUs {
  background-color: #f4f3f2;
  margin-top: 140px;
  padding: 80px 0;
}
.aboutUs .container {
  display: flex;
  gap: 110px;
}
.aboutUs__txt-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 575px;
}
.aboutUs__txt-container__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.5em;
}
.aboutUs__txt-container__text {
  margin-top: 5px;
  line-height: 1.5em;
}
.aboutUs__txt-container__exp-line {
  display: flex;
  margin-top: 20px;
  background-color: #19ce67;
  border-radius: 8px;
  padding: 10px 24px;
  gap: 25px;
}
.aboutUs__txt-container__exp-line__text {
  margin-top: 0;
  color: #ffffff;
  line-height: 1.4em;
}
.aboutUs__txt-container__link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 14px 30px;
  margin-top: 40px;
  max-width: 225px;
  border: 2px solid #19ce67;
  border-radius: 8px;
  color: #19ce67;
  transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
}
.aboutUs__txt-container__link svg {
  color: #19ce67;
}
.aboutUs__txt-container__link:hover {
  background-color: #ce1980;
  color: #ffffff;
  border-color: #ce1980;
  transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}
.aboutUs__txt-container__link:hover svg {
  color: #ffffff;
}
.aboutUs__img-container img {
  border: 15px solid #000000;
  border-radius: 8px;
}

.splide {
  margin-top: 140px;
  padding-left: 10px;
}
.splide .empty {
  border: 0;
}
.splide__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.5em;
  text-transform: capitalize;
  margin-bottom: 66px;
}
.splide .container {
  max-width: -moz-max-content;
  max-width: max-content;
}
.splide__list {
  gap: 30px;
}
.splide__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 25px 35px 25px;
  border: 1px solid #e4e4e4;
  border-radius: 1px;
  text-align: center;
  max-width: 460px;
}
.splide__slide .svg-cont {
  display: flex;
}
.splide__slide .svg-cont svg {
  margin-left: -20px;
  margin-right: -20px;
}
.splide__slide .text {
  margin-top: 27px;
  color: #333333;
  line-height: 1.5em;
}
.splide__slide .author {
  display: flex;
  margin-top: 55px;
  gap: 10px;
}
.splide__slide .author ul > li {
  border: 0;
  padding: 0;
  max-width: 460px;
}
.splide__slide .author ul > li h3 {
  font-weight: 600;
  line-height: 1.5em;
}
.splide__slide .author ul > li p {
  margin: 0;
  font-size: 14px;
  line-height: 1.5em;
}
.splide__arrows {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 45px;
  gap: 30px;
  transition: transform 0.5s ease;
}
.splide__arrow {
  background: none;
  border: 0;
  opacity: 1;
  transition: opacity 0.5s ease;
}
.splide__arrow svg {
  color: #000000;
}
.splide__arrow:disabled {
  opacity: 0.3;
  transition: opacity 0.5s ease;
}
.splide__arrow--prev svg {
  transform: rotate(0deg);
}
.splide__arrow--next svg {
  transform: rotate(180deg);
}

.posts {
  padding: 80px 0 75px;
}
.posts__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5em;
  margin-bottom: 73px;
}
.posts__list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.posts__list__item__date {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
}
.posts__list__item__title {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}
.posts__list__item__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  color: #333333;
}

.contact .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0 50px;
  background-color: #19ce67;
}
.contact__title {
  font-size: 40px;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 1.5em;
  max-width: 720px;
  flex-wrap: wrap;
  text-align: center;
}
.contact__button {
  display: flex;
  align-content: center;
  margin-top: 36px;
  padding: 20px 40px;
  background-color: #ce1980;
  border: 0;
  border-radius: 8px;
  gap: 10px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
}

.backdrop {
  display: none;
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  pointer-events: none;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.backdrop__modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  background-color: white;
  padding: 40px;
  width: 528px;
  border-radius: 8px;
}
.backdrop__modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background: none;
  border: 0;
  width: 30px;
  height: 30px;
  font-size: 30px;
  line-height: 1em;
  color: #000000;
  transition: color 0.5s ease;
}
.backdrop__modal__close-btn:hover {
  color: #19ce67;
  transition: color 0.5s ease;
}
.backdrop__modal__title {
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  margin-bottom: 12px;
}
.backdrop__modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.backdrop__modal__form__input-container {
  position: relative;
}
.backdrop__modal__form__input-container__input {
  width: 100%;
  height: 40px;
  padding-inline-start: 10px;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  border: 0;
  border-radius: 4px;
  transition: outline 0.5s ease;
}
.backdrop__modal__form__input-container__input:focus, .backdrop__modal__form__input-container__input:hover {
  outline: 1px solid #19ce67;
  transition: outline 0.5s ease;
}
.backdrop__modal__form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #e4e4e4;
  transition: color 0.5s ease;
}
.backdrop__modal__form__input-container__input:hover + .backdrop__modal__form__icon, .backdrop__modal__form__input-container__input:focus + .backdrop__modal__form__icon {
  color: #19ce67;
  transition: color 0.5s ease;
}
.backdrop__modal__form__textarea-container__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  border: 0;
  border-radius: 4px;
  resize: none;
  transition: outline 0.5s ease;
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: auto;
}
.backdrop__modal__form__textarea-container__textarea:focus, .backdrop__modal__form__textarea-container__textarea:hover {
  outline: 1px solid #19ce67;
  transition: outline 0.5s ease;
}
.backdrop__modal__form__item + .backdrop__modal__form__item {
  margin-top: 10px;
}
.backdrop__modal__form__item__label {
  display: block;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #000000;
  margin-bottom: 4px;
}
.backdrop__modal__form__agree-line {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  align-self: center;
}
.backdrop__modal__form__agree-line__checkbox {
  border: 1px solid #000000;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  padding: 0 2px 2px 2px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: white;
  border-radius: 2px;
}
.backdrop__modal__form__agree-line__checkbox:hover {
  cursor: pointer;
}
.backdrop__modal__form__agree-line__checkbox:checked + .custom-checkbox svg {
  display: block;
}
.backdrop__modal__form__agree-line__checkbox:checked {
  background: #19ce67;
  border: none;
  color: #ffffff;
}
.backdrop__modal__form__agree-line__checkbox:checked::before {
  content: "✔";
  width: 16px;
  height: 16px;
  line-height: 1em;
  display: inline-block;
  text-align: center;
}
.backdrop__modal__form__agree-line__link {
  color: #19ce67;
  font-size: 14px;
  margin-left: 4px;
  line-height: 1.71em;
  -webkit-text-decoration: underline #19ce67;
          text-decoration: underline #19ce67;
}
.backdrop__modal__form__agree-line__text {
  font-size: 14px;
  color: #000000;
  margin: 0;
  line-height: 1.71em;
}
.backdrop__modal__form__agree-line__text:hover {
  cursor: pointer;
}
.backdrop__modal__form__send-btn {
  padding: 10px 52px;
  background-color: #ce1980;
  border-radius: 4px;
  border: none;
  align-self: center;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  transition: box-shadow 0.5s ease;
}
.backdrop__modal__form__send-btn:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.5s ease;
}

.visible {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.fter .container {
  padding: 34px 0;
}
.fter__main {
  display: flex;
  align-items: center;
}
.fter__main__logo-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 312px;
  margin-right: 180px;
}
.fter__main__logo-block__text {
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 40px;
  font-family: "Poppins", sans-serif;
  color: #19ce67;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0em;
}
.fter__main__sup-list {
  margin-right: 100px;
}
.fter__main__sup-list__item__title {
  font-family: "Poppins", sans-serif;
  color: #19ce67;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0em;
  margin-bottom: 23px;
}
.fter__main__sup-list__item__link {
  display: inline-flex;
  font-family: "Poppins", sans-serif;
  color: #19ce67;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0em;
  margin-bottom: 16px;
  flex-wrap: nowrap;
}
.fter__main__soc-list {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-right: 100px;
}
.fter__main__soc-list__item__title {
  font-family: "Poppins", sans-serif;
  color: #19ce67;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0em;
  margin-bottom: 23px;
}
.fter__main__soc-list__item__link {
  display: inline-flex;
  font-family: "Poppins", sans-serif;
  color: #19ce67;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0em;
  margin-bottom: 16px;
  flex-wrap: nowrap;
}
.fter__main__cont-list__item__title {
  font-family: "Poppins", sans-serif;
  color: #19ce67;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0em;
  margin-bottom: 23px;
}
.fter__main__cont-list__item__link {
  display: inline-flex;
  font-family: "Poppins", sans-serif;
  color: #19ce67;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0em;
  margin-bottom: 16px;
  flex-wrap: nowrap;
}
.fter__lists {
  display: flex;
  align-items: baseline;
}
.fter__afterword {
  display: flex;
  gap: 34px;
  justify-content: center;
  margin-top: 40px;
}
.fter__afterword p {
  font-family: "Poppins", sans-serif;
  color: #19ce67;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}/*# sourceMappingURL=style.css.map */